/* Thêm vào file index.css hoặc App.css */

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


/* Đảm bảo khung bao ngoài của Ant Design cũng chiếm hết chiều cao */

.ant-layout {
    min-height: 100vh !important;
    width: 100%;
}